<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>简易任务管理系统</title>
    <link href="/static/css/tm_common.css" rel="stylesheet">
    <link href="/static/css/login.css" rel="stylesheet">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/js/login_check.js"></script>
</head>
<body>
    <h1><i>简易任务管理系统（test of Jenkins 7）</i></h1>
    <br>
    <br>
    <br>
    <div class="div_login">
        <div>&nbsp;</div>
        <label class="label_info">提示信息</label><br>
        <div>&nbsp;</div>
        <form action="/taskmanage/" method="post" class="frm_login" onsubmit="return checkInput()">
            {% csrf_token %}
            <span class="lable_login">
                用户名：
                <input type="text" name="username"/>
            </span><br><br>
            <span class="lable_login">
                密码：
                <input type="password" name="password" />
            </span><br><br><br>
            <div class="submit_login">
                <a href="/register/">注册</a>&nbsp;&nbsp;
                <input type="submit" value="登录" />
            </div>
        </form>
    </div>

    <!--底部版权-->
    <footer>
        <br>
        ©2018-2020 Kusy. All Rights Reserved.
        <br>
    </footer>
</body>
</html>