<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />-->
    <title>注册</title>
    <!--{% load static %}-->
    <!--<link href="{% static "css/register.css" %}" rel="stylesheet" type="text/css" />-->
    <link href="/static/css/register.css" rel="stylesheet">
    <link href="/static/css/tm_common.css" rel="stylesheet">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/js/register_check.js"></script>
</head>
<body>
    <h2 align="center"><i>欢 迎 注 册 ~ ~ </i></h2>
    <div>
        <br>
    </div>
    <div class="reg_main" align="center">
        <label class="label_info">提示信息</label><br>
        <form action="/login/" method="post" onsubmit="return checkInput()">
            {% csrf_token %}
            用户名：<input type="text" name="username" id="reg_user" class="reg_info reg_user"/><br><br>
            密  码：<input type="password" name="password" id="reg_pwd" class="reg_info reg_pwd"/><br><br><br>
            <span class="span_btn">
                <input type="submit" value="注册" class="reg_btn"/>
            </span>
            <a href="/login/">去登录</a>
        </form>

        <!--<button class="reg_btn">TEST</button>-->
        <span style="width:50%;" ></span>
    </div>
    <!--<div style="float:right">{{strings}}</div>-->
    <!--<div>&nbsp;&nbsp;{{strings}}</div>-->
    <!--{% for sl in stringlist %}-->
    <!--<div>&nbsp;&nbsp;{{sl}}</div>-->
    <!--{% endfor %}-->

    <!--底部版权-->
    <footer>
        <br>
        ©2018-2020 Kusy. All Rights Reserved.
        <br>
    </footer>
</body>
</html>