<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>任务管理</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/taskmanage.css" rel="stylesheet">

  </head>

  <body>
    <h1 class="userinfo username">
      {{ username }}
      <span class="myquote" style="font-size:15px;color:#ff6d15;">路漫漫其修远兮...</span>
    </h1>

    <br><br>
    <div class="manage_btn">
      <span>
        <button class="add" onclick="addClick();">新增</button>
      </span>
      <span>
        <button class="edit" onclick="editClick();">编辑</button>
      </span>
      <span>
        <button class="delete" onclick="delTask();">删除</button>
      </span>
      <span>
        <button class="search" disabled style="background:gray;opacity:0.5">查询</button>
      </span>
      <select name="search_person" onchange="searchPerson();" title="按人员查询">
        <option></option>
        {% for u in user_list %}
          <option> {{ u.user }} </option>
        {% endfor %}
      </select>
    </div>
    <br><br>
    <hr style="height:2px;border:none;border-top:2px ridge;" />

    <!--数据区-->
    <table class="data_table">
      <tr>
        <th>选择</th>
        <th>任务编号</th>
        <th>任务内容</th>
        <th>任务时间</th>
        <th style="color:red;">执行人员</th>
        <th>执行状态</th>
        <th>备注</th>
      </tr>

      {% for task in task_list %}
      <tr>
        <td><input type="radio" name="select_record" checked="checked"> </td>
        <td>{{ task.taskno }}</td>
        <td>{{ task.taskcontent }}</td>
        <td>{{ task.taskdate }}</td>
        <td>{{ task.taskperson }}</td>
        <td>{{ task.taskstatus }}</td>
        <td>{{ task.taskps }}</td>
      </tr>
      {% endfor %}

    </table>

    <div class="box">
      <div class="addBox">
        <div class="addHeader">
          <span><b>新增任务</b></span>
          <a href="javascript:;" onclick="jQuery('.addBox').hide();" class="close">×&nbsp;&nbsp;</a>
        </div>

        <form class="addForm" action="./add" onsubmit="return addTask();" method="post">
          {% csrf_token %}
          <br>任务编号<span class="space"></span>
          <input type="text" name="taskno" value={{ newtaskno }} readonly>
          <br><br>任务内容<span class="space"></span>
          <!--<input type="text" name="taskcontent">-->
          <textarea name="taskcontent"></textarea>
          <br><br>任务时间<span class="space"></span>
          <input type="datetime-local" name="taskdate">
          <br><br>执行人员<span class="space"></span>
          <select name="taskperson">
            <option></option>
            {% for u in user_list %}
              <option> {{ u.user }} </option>
            {% endfor %}
          </select>
          <!--<input type="text" name="taskperson">-->
          <br><br>执行状态<span class="space"></span>
          <select name="taskstatus">
            <option>未开始</option>
            <option>执行中</option>
            <option>已完成</option>
          </select>
          <br><br>备注一下<span class="space"></span>
          <input type="text" name="taskps" value="">
          <br><br>
          <div align="right">
            <input type="button" value="重置" class="task_clearbtn" onclick="clearAddbox();">
            <input type="submit" value="保存" class="task_savebtn" >
          </div>
        </form>

      </div>
      <div class="editBox">
        <div class="editHeader">
          <span><b>编辑任务</b></span>
          <a href="javascript:;" onclick="jQuery('.editBox').hide();" class="close">×&nbsp;&nbsp;</a>
        </div>

        <form class="editForm" action="" onsubmit="return editTask()" method="post">
          {% csrf_token %}
          <br>任务编号<span class="space"></span>
          <input type="text" name="taskno" value={{ newtaskno }} readonly>
          <br><br>任务内容<span class="space"></span>
          <!--<input type="text" name="taskcontent">-->
          <textarea name="taskcontent" disabled></textarea>
          <br><br>任务时间<span class="space"></span>
          <input type="datetime-local" name="taskdate" disabled>
          <br><br>执行人员<span class="space"></span>
          <select name="taskperson" disabled>
            <option></option>
            {% for u in user_list %}
              <option> {{ u.user }} </option>
            {% endfor %}
          </select>
          <!--<input type="text" name="taskperson">-->
          <br><br>执行状态<span class="space"></span>
          <select name="taskstatus">
            <option>未开始</option>
            <option>执行中</option>
            <option>已完成</option>
          </select>
          <br><br>备注一下<span class="space"></span>
          <input type="text" name="taskps" value="">
          <br><br>
          <div align="right">
            <input type="submit" value="保存" class="task_edit_savebtn" >
          </div>
        </form>

      </div>
    </div>

    <!--遮罩层-->
    <div style="z-index:19891022; background-color:#000; opacity:0.3; filter:alpha(opacity=30);"></div>

    <!--<script type="text/javascript">-->
    <!--function showDiv(){-->
        <!--document.getElementById('popDiv').style.display='block';-->
        <!--document.getElementById('bg').style.display='block';-->
    <!--}-->
    <!--function closeDiv(){-->
        <!--document.getElementById('popDiv').style.display='none';-->
        <!--document.getElementById('bg').style.display='none';-->
    <!--}-->
    <!--</script>-->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/js/taskmanage.js"></script>
  </body>
</html>