body {
    opacity: 0.8;
    z-index: 1;
}
h1{
    text-align: center;
    color:#660066;
}

.label_info {
    display:none;
    font-size:1em;
    color:red;
    margin: auto;
    text-align:center;
}

.div_login{
    width:500px;
    height:300px;
    margin: auto;
    padding:0px 0px 0px 0px;
    background-image:url(../image/timg.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
}

.frm_login{
    margin:0px 150px 50px 30px;
}

.lable_login{
    float:right;
}
.submit_login{
    float:right;
    text-align:right;
    width:140px;
}
.submit_login input{
    width:80px;
    background:#f18e10;
    border-radius:10px;
    border:0px solid #9dc9f7;
    opacity:1;
}
.submit_login a{
    font-size:60%;
}


.desctxt{
    float:right;
    margin-top:12%;
    font-size:50%;
    color:rgb(2,99,148);
}