/*全局设置*/
body {
    margin: 0;
    padding: 0;
    background-color:#c7d8dc;
}

h2 {
    background-color: #9dc9f7;
}

.reg_main {
    width:60%;
    border: 0px solid blue;
    text-align:right;
    /* float:right; */

}

.reg_info {
    width:300px;
    height:30px;
}

.span_btn {
    margin: auto;
    padding:0px 0px 0px 0px;
}

.reg_btn {
    height:30px;
    width: 250px;
    background-color:#9dc9f7;
    border-radius:10px;
    border:1px solid #9dc9f7;
}

.label_info {
    display:none;
    font-size:1em;
    color:red;
    margin: auto;
}