body {
    //background:#c7d8dc;
    opacity: 0.8;
    z-index: 1;
}
h1{
    margin: 0px 0px 0px 20px;
    text-align:left;
    font-size:50px;
    color:#660066;
}

.manage_btn{
    float:right;
    margin: 0px 5% 0px 20px;
}
.manage_btn button{
    width:80px;
    height:40px;
    margin: 0px 20px 0px 0px;
    background: #aad2f4;
    border: 1px solid;
    border-color: #8b9ad5;
    color:#6969a1;
}
.task_search_box{
    width:100px;
    height:40px;
    margin: 2px 20px 0px 0px;
    background: #aad2f4;
    border: 1px solid;
    border-color: #8b9ad5;
    color:#6969a1;
}

.manage_btn :hover {
    color:#0e30b8;
    font-weight: bold;
    /*background: #31b0d5;*/
}

tr th, tr td{
    border:1px solid rgba(2, 2, 2, 0.1);
    border-width:0px 1px 1px 0px;
    padding:3px;
}

.data_table{
    width:90%;
    margin: 0px 5% 0px 5%;
    padding: 0px;
    background:#d8efd8;
    /*设置相邻单元格的边框间的距离*/
    border-spacing: 0;
    /*表格设置合并边框模型*/
    border-collapse: collapse;
    text-align: center;
}
.data_table tr{
    background:#d8efd8;
}
/*关键设置 tbody出现滚动条*/
table tbody {
    display: block;
    height: 498px;
    overflow-y: scroll;
}

table thead,tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
/*关键设置：滚动条默认宽度是16px 将thead的宽度减16px*/
table thead {
    width: calc( 100% - 1em);
    position:fixed;
}
table thead th {
    background: #ccc;
}

tr td{
    text-align:center;
    color:#000;
    word-break:break-all;
}
tr td:nth-child(1),tr th:nth-child(1){
    width:5%;
}
tr td:nth-child(2),tr th:nth-child(2){
    width:5%;
}
tr td:nth-child(3),tr th:nth-child(3){
    width:40%;
    text-align:left;
}
tr th:nth-child(3){
    text-align:center;
}

tr td:nth-child(7){
    text-align:left;
}

.data_table.head tbody{
    height: 21px;
    overflow-y:hidden;
    width: calc( 100% - 17px);
}
.data_table.head{
    background: #827302;
}
tr th{
    text-align:center;
    background:#827302;
    color:white;
    padding:0px;
}

/*
.addBox{
    padding-top: 10%;
    padding-left:40%;
    z-index:1;
}
*/
.addBox,.editBox{
    width: 500px;
    height: 470px;
    position: fixed;
    left: 45%;
    top: 25%;
    margin-left: -250px;
    //background: #b1ea8e;
    border: 0px solid #000000;
    display:none;
    z-index:999;
    padding:0px;
    background-image:url(../image/timg.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
}
.addHeader,.editHeader{
    background:#827302;
    color:white;
    //opacity:0.9;
}

.addForm,.editForm{
    float:right;
    padding:0px 80px 0px 20px;
}
.addForm input,.editForm input{
    width:300px;
    height:30px;
    //margin-right:30%;
}
.addForm textarea,.editForm textarea{
    width:300px;
    height:60px;
    //margin-right:30%;
}
.addForm select,.editForm select{
    width:300px;
    height:30px;
    //margin-right:30%;
}

input[name='taskno']{
    background:rgba(210,202,202,0.8);
}

.editForm textarea, .editForm select[name="taskperson"], .editForm input[name="taskdate"] {
    //background:rgba(210,202,202,0.8);
}
.editForm input[name="taskdate"]{
    background:rgba(210,202,202,0.8);
}

span.space{
    margin-left:30px;
}

.task_savebtn{
    width:150px !important;
    height:50px !important;
    //background:#99f5a5;
}
.task_clearbtn{
    width:150px !important;
    height:50px !important;
}
.task_edit_savebtn{
    width:150px !important;
    height:50px !important;
    margin-right:20%;
    //background:#99f5a5;
}

select[name="search_person"]{
    height: 40px;
}